packages/budgetguard/budgetguard-0.39.0.tar.gz/budgetguard-0.39.0/budgetguard/core/workflows/MyStateMachine-xcf60j6dx.asl.yaml
Comment: Bronze to silver data processing pipeline
StartAt: Source to ingestion - bank account data
States:
  Source to ingestion - bank account data:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: arn:aws:lambda:us-east-1:327077392103:function:IngestionLambda:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: Source to master - Exchange rates table
  Source to master - Exchange rates table:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:327077392103:function:ExchangeRatesLambda:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: Ingestion to bronze -  data processing pipelines
  Ingestion to bronze -  data processing pipelines:
    Type: Parallel
    Next: Bronze to silver - data processing pipelines
    Branches:
      - StartAt: Ingestion to bronze - Balances table
        States:
          Ingestion to bronze - Balances table:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: >-
                arn:aws:lambda:us-east-1:327077392103:function:RawToBronzeLambdaBalances:$LATEST
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
            End: true
      - StartAt: Ingestion to bronze - Transactions table
        States:
          Ingestion to bronze - Transactions table:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: >-
                arn:aws:lambda:us-east-1:327077392103:function:RawToBronzeLambdaTransactions:$LATEST
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
            End: true
      - StartAt: Ingestion to bronze - Details table
        States:
          Ingestion to bronze - Details table:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: >-
                arn:aws:lambda:us-east-1:327077392103:function:RawToBronzeLambdaDetails:$LATEST
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
            End: true
      - StartAt: Ingestion to bronze - Metadata table
        States:
          Ingestion to bronze - Metadata table:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: >-
                arn:aws:lambda:us-east-1:327077392103:function:RawToBronzeLambdaMetadata:$LATEST
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
            End: true
    ResultPath: null
  Bronze to silver - data processing pipelines:
    Type: Parallel
    Branches:
      - StartAt: Bronze to silver - Balances table
        States:
          Bronze to silver - Balances table:
            Type: Task
            Resource: arn:aws:states:::emr-serverless:startJobRun
            Parameters:
              ApplicationId: 00fgs1sk7tmuee09
              ExecutionRoleArn: >-
                arn:aws:iam::327077392103:role/AmazonEMR-ExecutionRole-1704146725433
              Name: bronze_to_silver_balances
              Tags:
                input_layer: bronze
                output_layer: silver
                table: balances
              JobDriver:
                SparkSubmit:
                  EntryPoint: s3://budget-guard-main/emr_main.py
                  EntryPointArguments.$: States.Array('bronze_to_silver_balances',$.partition_id)
                  SparkSubmitParameters: >-
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.executorEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory
            End: true
      - StartAt: Bronze to silver - Transactions table
        States:
          Bronze to silver - Transactions table:
            Type: Task
            Resource: arn:aws:states:::emr-serverless:startJobRun
            Parameters:
              ApplicationId: 00fgs1sk7tmuee09
              ExecutionRoleArn: >-
                arn:aws:iam::327077392103:role/AmazonEMR-ExecutionRole-1704146725433
              Name: bronze_to_silver_transactions
              Tags:
                input_layer: bronze
                output_layer: silver
                table: transactions
              JobDriver:
                SparkSubmit:
                  EntryPoint: s3://budget-guard-main/emr_main.py
                  EntryPointArguments.$: States.Array('bronze_to_silver_transactions',$.partition_id)
                  SparkSubmitParameters: >-
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.executorEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory
            End: true
      - StartAt: Bronze to silver - Details table
        States:
          Bronze to silver - Details table:
            Type: Task
            Resource: arn:aws:states:::emr-serverless:startJobRun
            Parameters:
              ApplicationId: 00fgs1sk7tmuee09
              ExecutionRoleArn: >-
                arn:aws:iam::327077392103:role/AmazonEMR-ExecutionRole-1704146725433
              Name: bronze_to_silver_details
              Tags:
                input_layer: bronze
                output_layer: silver
                table: details
              JobDriver:
                SparkSubmit:
                  EntryPoint: s3://budget-guard-main/emr_main.py
                  EntryPointArguments.$: States.Array('bronze_to_silver_details',$.partition_id)
                  SparkSubmitParameters: >-
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.executorEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory
            End: true
      - StartAt: Bronze to silver - Metadata table
        States:
          Bronze to silver - Metadata table:
            Type: Task
            Resource: arn:aws:states:::emr-serverless:startJobRun
            Parameters:
              ApplicationId: 00fgs1sk7tmuee09
              ExecutionRoleArn: >-
                arn:aws:iam::327077392103:role/AmazonEMR-ExecutionRole-1704146725433
              Name: bronze_to_silver_metadata
              Tags:
                input_layer: bronze
                output_layer: silver
                table: metadata
              JobDriver:
                SparkSubmit:
                  EntryPoint: s3://budget-guard-main/emr_main.py
                  EntryPointArguments.$: States.Array('bronze_to_silver_metadata',$.partition_id)
                  SparkSubmitParameters: >-
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.emr-serverless.driverEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.executorEnv.PYSPARK_PYTHON=/usr/local/bin/python3.8
                    --conf
                    spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory
            End: true
    End: true
